body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 800;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #B5CDA3;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-img {
  transform: rotate(20deg);
  width: 40%;
  position: absolute;
  right: 5%;
}

/* Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Features Section */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.features-icon {
  color: #C9E4C5;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #B5CDA3;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */
#testimonials {
  background-color: #E3CDC1;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #E3CDC1;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Pricing Section*/
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 3% 2%;
}

.social-icon {
  padding: 10px;
}

.flaticon {
  color: #8f8f8f;
  font-size: 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    width: 40%;
  }
}
